<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose Profile Picture</title>
    <link rel="stylesheet" href="/css/pictureForm.css" />
    <!-- Link to your CSS file -->
  </head>
  <body>
    <div class="container">
      <h2>Choose Your Profile Picture</h2>
      <form action="/updateProfile" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="profile-picture-input">Select Image:</label>
          <input type="file" id="profile-picture-input" name="file" />
        </div>
        <button type="submit">Upload</button>
      </form>
      <% if (error && error.length > 0) { %>
          <div class="error">
            <p><%= error %></p>
          </div>
          <% } %>
      <div id="profile-picture-preview" class="profile-picture-preview">
        <img id="preview-image" src="#" alt="Preview Image" />
      </div>
    </div>
  </body>
</html>
